<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div id="app-hook"></div>

    <script type="text/template" id="layout">
      <ul>
        <% _.each(items, function(item) { %>
          <li><%- item.text %> &mdash; <%- item.assignee %></li>
        <% }) %>
      </ul>
    </script>

    <script type="text/template" id="todo-item">
      <%- text %> &mdash; <%- assignee %>
    </script>

    <!-- Thirt-Party Libraries (Order matters) -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="./assets/javascript/vendor/underscore.js"></script>
    <script src="./assets/javascript/vendor/backbone.js"></script>
    <script src="./assets/javascript/vendor/backbone.marionette.js"></script>
    <script src="./assets/javascript/vendor/bootstrap-modal.js"></script>

    <!-- Application core (Order matters) -->
    <script type="text/javascript" src="assets/javascript/app.js"></script>

    <script type="text/javascript">
    </script>

  </body>
</html>