<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div id="app-hook"></div>

    <script type="text/template" id="todo-item">
      <%- text %> &mdash; <%- assignee %>
    </script>

    <script type="text/template" id="layout">
      <div class="list"></div>
      <div class="form"></div>
    </script>

    <script type="text/template" id="form">
      <label for="id_text">Todo Text</label>
      <input type="text" name="text" id="id_text" value="<%= text %>" />
      <label for="id_assignee">Assign to</label>
      <input type="text" name="assignee" id="id_assignee" value="<%= assignee %>" />

      <button id="btn-add">Add Item</button>
    </script>

    <!-- Thirt-Party Libraries (Order matters) -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="./assets/javascript/vendor/underscore.js"></script>
    <script src="./assets/javascript/vendor/backbone.js"></script>
    <script src="./assets/javascript/vendor/backbone.marionette.js"></script>
    <script src="./assets/javascript/vendor/bootstrap-modal.js"></script>

    <!-- Application core (Order matters) -->
    <script type="text/javascript" src="assets/javascript/todo-app.js"></script>

    <script type="text/javascript">
    </script>

  </body>
</html>